body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  gap: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

[data-logout-button] {
  display: none;
}

[data-create-button] {
  display: none;
}

.event {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
  position: relative;
}

.event-link:hover {
  text-decoration: none;
}

.user-details {
  padding: 10px;
}

.user-heading {
  padding: 10px;
  margin: 0;
}

.join-btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;
}

.delete-btn {
  background-color: firebrick;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.host-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: darkcyan;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border-color: darkcyan;
}
